.title {
  font-family: Roboto;
}


body {
   margin: 0;
  }


 .wrapper {
    margin: auto;
    width: 80%;
    }


 .logo, .menu,  .header__list li {
 display: inline-block;
 }


 .header {
 display: flex;
 justify-content: space-between;
 }



 .logo {
 position: relative;   
 padding: 40px 0 40px 47px;
 font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
 }

 .logo__circle {
    position: absolute;
    left: 0;
    top: 50;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
    }

 .logo__circle_color_blue {
 left: 8px;
 top: 56%;
 transform: translateY(-50%);
 background: #C8DBFB;
 }

 .logo__circle_color_dark-blue {
 background: #0056EC;
 }


 .menu {
 display: flex;
 align-items: center;
 }

 .menu__item, .header__list li {
 position: relative;
 margin-bottom:1px; 
 margin-right: 4px;
 margin-left: 7px;
 padding-top: 7px;
 font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
 color: #000;
 text-decoration: none;
 transition: opacity .5s;
 }

 .menu__item:last-child {
  margin-right: 5px;
 }
 
 .menu__item_active::after {
 position: absolute;
 display: block;
 content: '';
 left: 0;
 width: 100%;
 height: 3px;
 background: #0056EC;
 }

 .menu__item:hover{
  opacity: 0.5;    
 }

 .menu__item:hover:after{
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 100%;
 height: 3px;
 background: #0056EC;
 }

 .menu__item:after{
 position: absolute;
 left: 0;
 display: block;
 content: '';
 width: 0;
 height: 3px;
 background: #0056EC;
 opacity: 0;
 transition: opacity .5s, width .5s;
 }

 .menu__item:hover{
  opacity: 0.5;
  transform: scale(1.2);
 }

 .menu__item:hover:after,.menu__item_active:after {
    opacity: 1;
    width: 100%;
 }

 .main{
 padding-top: 206px;
 padding-right: 66%;
 padding-bottom: 270px;
 background: url(img/mainlmg.svg);
 background-repeat: no-repeat;
 background-position: center right;
   }

 .main__title{
    margin: 0 0 38px 0;
    font: bold 66px/86px pt_serif, arial, helvetica, sans-serif;
 }

 .main__subtitle{
  margin: 0 0 40px 0;
  font: 22px/26px robotoregular, arial, helvetica, sans-serif;
 }

 .main__button{
  display: inline-block;
  font: 18px/21px robotomedium, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
 }

 .main__button:hover{
  opacity: .5;
 }

 .main__title-text_highlight{
    background: linear-gradient(
        180deg,
        rgba(255,255,255,1) 15%, #ECF3FF 15%);;
 }


 .points{
   width: 30px;
   height: 9px;
   padding-right: 98%;
   background:  url(img/Group.svg);
   background-repeat: no-repeat;
   background-position: center;
}




@media (min-width: 1025px) and (max-width: 1366px) {
 .wrapper {
 margin: auto;
 width: 69%;
  }

 .logo {
  position: relative;   
  padding: 40px 0 40px 50px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  }

 .logo__circle{
   left: 7px;
   }

 .logo__circle_color_blue {
   left: 15px;
 }

 .menu__item {
   font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
   }

 .main {
  padding: 103px 56% 141px 0;
  background-size: 55%;
  margin-right: 6px;
  }

 .main__title{
   margin: 0 0 38px;
   padding-left: 5px;
   font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;   
   }

 .main__subtitle{
   padding-left: 7px;
   font: 18px/21px robotoregular, arial, helvetica, sans-serif;
   }

 .main__button{
   font: 14px/16px robotoregular, arial, helvetica, sans-serif;
   padding: 14px 21px;
   }

 .points{
   height: 10px;
   padding-right: 97%;
   }
}




@media (min-width: 769px) and (max-width: 1024px){
  .wrapper {
   margin: auto;
   width: 92%;
  }

 .logo {
  position: relative;   
  padding: 40px 0 40px 47px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
   }

 .logo__circle{
   left: 4px;
   }

 .logo__circle_color_blue {
   left: 11px;
 }

 .menu__item {
   padding: 0 3px 0 3px;
   margin: 0 5px;
   font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
   }

 .menu__item:last-child{
   margin-right: 0;
   }

 .main {
  padding: 103px 56% 145px 0;
  background-size: 55%;
  margin-right: 6px;
   }

 .main__title{
   margin: 0 0 36px 3px;
   font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;   
   }

 .main__subtitle{
   margin-left: 3px;
   font: 18.5px/21px robotoregular, arial, helvetica, sans-serif;
   }

 .main__button{
   font: 14px/16px robotoregular, arial, helvetica, sans-serif;
   padding: 14px 25px 13px 16px;
   }

 .points{
   height: 10px;
   padding-right: 97%;
   }
}




@media (max-width: 768px) {
 .header {
 margin-bottom: 7px;
 }

 .wrapper {
 margin: auto;
 width: 87%;
    }

 .logo{
 padding: 24px 0;
 }

 .logo__text {
 visibility: hidden;
    }

 .main {
 text-align: center;
 padding: 80% 0 0;
 margin: 0px 3px 5px 4px;
 background-size: 88%;
 background-position: top center;
 }

 .main__title {
  text-align: center;
 padding: 0 12% 0;
 margin: 0 0 35px 6px;
 font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }

 .main__subtitle{
 margin: 0 0 22px 5px;
 font: 500 16px/19px robotomedium, arial, helvetica, sans-serif;
  padding: 0 12% 0;
   
 }
 .main__button{
 padding: 14px 25px 13px 16px;
 font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
 }

 .points{
  display: none;
 }

 #menu__toggle {
  opacity: 0;
 }

 .header__burger{
 display: block;
 position: relative;
 width: 25px;
 height: 17px;
 position: relative;
 top: 10px;
 z-index: 5;
 }

 .header__burger span{
 position: absolute;
 background-color: #0056EC;
 position: absolute;
 left: 0;
 width: 100%;
 height: 3px;
 top: 9px;
 transition: all 0.3s ease 0s;
 }

 .header__burger:before,
 .header__burger:after{
 content: '';
 position: absolute;
 background-color: #0056EC;
 left: 0;
 width: 100%;
 height: 3px;
 transition: all 0.3s ease 0s;
 }

 .header__burger:before{
 top: 2px;
 }
 
 .header__burger:after{
 bottom: -2px;
 }

 .header__burger.active:before{
 transform: rotate(45deg);
 top: 7px;
 }

 .header__burger.active:after{
 transform: rotate(-45deg);
 bottom: 7px;
 }

 .header__burger.active span{
 transform: scale(0);
 }

 .menu{
 position: fixed;
 top: -100%;
 left: 0;
 width: 100%;
 height: 100%;
 transition: all 0.3s ease 0s;
 background-color: #ECF3FF;
 text-align : center;
 padding: 0 35px;
 }

 .menu.active{
    top: 0;
 }

 .header__list{
 display: block; 
 }

 .header__list li{
 display: block;
 list-style: none;
 padding: 0 40px 0;
 margin: 24px 0 24px;
 }

 .header__list{
    margin-bottom: 50px;
 }

 .menu__item_active::after{
 display: none;
 }

 .menu__item{
 font: 500 30px/35px robotomedium, arial, helvetica, sans-serif;
 }
}
